* > input, .text-area{
    padding: 6px 10px 6px 10px;
}
.container2{
    max-width: 1060px;

}

.outer-box1{
    background-color: white;
    width: 74vw;
    border-radius: 10px;
    justify-content: center;
    margin: auto;
    text-align: left;   
    font-size:18px;
}


.outer-box2{
    background-color: white;
    min-height: 12vw;
    width: 74vw;
    border-radius: 10px;
    justify-content: center;
    margin: auto;
    text-align: left;   
}

.box1{
    padding: 23px;
}

/* Edit the css for disabled state of box2 */
/* .outer-box2 > .disabled{
} */

/* for 2 main containers */

.one{
    font-size: 18px;
}

.mt-5{
    margin-top:3rem !important;
}

.shadow-sm {
    box-shadow: 0 .325rem .85rem rgba(0,0,0,.075)!important;
}

.oneo{
    height: 40px;
    margin-top: 10px;
    font-size: 19px;
}

label .onet{
    border: 2px solid blue;
    background-color: white;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #5058f3;
    --bs-btn-bg: #ffffff;
}

.text-area{
    width: -webkit-fill-available;
    max-width: 900px;
}

.desc{
    padding-top: 12px;
}

label{
    color: #63728c;
}
.two{
    font-size: 25px;
    margin-top: 12px;
}
.form-button{
    padding-top: 31px;
}
.cg-ib{
    background: transparent;
    color: #2d2dff; 
    border-width: 1px;
    border-radius: 7px;
    border-color: #c3c3c3;
    font-size: 15px;
    padding: 8px;
    --bs-btn-hover-border-color: none;
}

.border-style{
    border-radius: 4px;
    border-width: 1px;
    border-color: #7e7e7e7a;

}
.cg-input, .t-input{
    width: -webkit-fill-available;
    height: 40px;
}

.group-img{
    max-height: 100px;
    width: auto;
}

.d-input{
    min-height: 40px;
}
.btn-2{
    height: auto;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    --bs-btn-bg: #e73a4b;
    --bs-btn-hover-bg: #fa3447;
    --bs-btn-border-color: none;
}

.term-box{
    font-size: 18px;
    margin: 15px 5px 15px 5px;
    padding: 9px 2px 9px 10px;
}

.term-index{
    margin-right: 18px;
    padding: 7px 9px 9px 13px;
    background-color: #f08686;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.termInput{
    width: -webkit-fill-available;
}

.edit-btn{
    border:0px;
    padding:0px;
    margin-left:10px;
}
.edit-btn:hover{
    --bs-btn-hover-color:none; 
    --bs-btn-hover-bg: none;
}

.ti-btn{
    margin: 26px 0px 0px 35px;
    color: #005dff;
    height: auto;
    width: auto;
    padding: 8px 8px 8px 8px;
    font-size: 15px;
}
.term-imgs{
    margin-left: 79px;
    height: 60px;
    width: auto;
    margin-top : 18px;
}
.delete-btn{
    border: none;
    width: auto;
}
.delete-btn:hover{
    --bs-btn-hover-color:none; 
    --bs-btn-hover-bg: none;
}

.addmore-btn {
    margin: 20px 0px 32px 55px;
    width:auto;
}

.i{
    color: #9e9e9e;
}

.btn-img{
    display: inline-flex;
    align-items: center;
}
.edit-btn-div{
    display: inline-grid;
    margin-left: 45px;
    padding-left: 15px;
}

.delete-div{
    padding-right: 0px;
    padding-left: 40px;
}

@media (max-width: 1374px){
    .term-imgs{
        margin-left:78px;
    }
}

@media (max-width: 1160px){
    .term-imgs{
        margin-left:55px;
    }
}
@media (max-width: 1042px){
    .term-imgs{
        margin-left:50px;
    }
}

@media (max-width:1024px){
    .ti-btn{
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .term-box{
        align-items: center;
    }
    .def-img{
        align-items: center;
    }
    .term-imgs{
        margin-left: 42px;
    }
}

@media (max-width:576px) {
    .def{
        width:fit-content;
    }
}

@media (max-width : 426px) {
    .term-box{
        font-size: 15px;
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 15px;
    }
    .def-img{
        align-items: end !important;
        padding-right: 0px;
    }
    .ti-btn{
        font-size: 12px;
        padding: 6px;
    }
    .btn-img{
        justify-content: start;
        margin-right: 43px;
    }
    .delete-div{
        justify-content: center !important;
    }
}

@media (max-width:376px) {
    .def-img{
        padding-right: 14px;
        margin-left: 52px;
    }
    .def{
        padding-left: 18px;
    }
    .defInput{
        width: 179px;
    }
    .btn-img{
        padding-right:18px;
    }
}

@media (max-width:320px){
    
}